.error-shake {
  animation: rowShake 1s 1;
}

.correct-flip {
    animation: correct-flip 1s 1;
    animation-fill-mode: forwards;
}

.almost-flip {
    animation: almost-flip 1s 1;
    animation-fill-mode: forwards;
}

.wrong-flip {
    animation: wrong-flip 1s 1;
    animation-fill-mode: forwards;
}


@keyframes correct-flip {
    0% {
        transform: scaleY(1);
        background-color: inherit;
    } 
    50% {
        transform: scaleY(0);
        background-color: rgb(100, 164, 100);
        border: solid 1px rgb(100, 164, 100);
    }
    100% {
        transform: scaleY(1);
        background-color: rgb(100, 164, 100);
        border: solid 1px rgb(100, 164, 100);
    }
}

@keyframes almost-flip {
    0% {
        transform: scaleY(1);
        background-color: inherit;
    } 
    50% {
        transform: scaleY(0);
        background-color: rgb(221, 173, 0);
        border: solid 1px rgb(221, 173, 0);
    }
    100% {
        transform: scaleY(1);
        background-color: rgb(221, 173, 0);
        border: solid 1px rgb(221, 173, 0);
    }
}

@keyframes wrong-flip {
    0% {
        transform: scaleY(1);
        background-color: inherit;
    } 
    50% {
        transform: scaleY(0);
        background-color: rgb(81, 74, 74);
        border: solid 1px rgb(81, 74, 74);
    }
    100% {
        transform: scaleY(1);
        background-color: rgb(81, 74, 74);
        border: solid 1px rgb(81, 74, 74);
    }
}

@keyframes rowShake {
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
