html, body {
  margin:0px;
  height:100%;
}

.App {

  .page {
    background-color: grey;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    .page-content {
      max-width: 500px;
      height: 100%;
      background-color: yellow;
      margin: auto;
      text-align: center;
      padding-top: 120px;
      position: relative;
    }
  }

  .correct {
    background-color: green;
  }

  .almost {
    background-color: yellowgreen;
  }

  .wrong {
    background-color: rgb(170, 170, 170);
  }

  .hide {
    opacity: 0;
  }

  .home-page {
    .logo {
      background-color: black;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin: auto;
    }

    h2 {
      width: 60%;
      margin: auto;
      font-weight: 100;
    }

    .button-container {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      a {
        background: none;
        padding: 15px;
        border-radius: 30px;
        width: 70%;
        margin: 7px auto;
        border: 2px solid black;
        text-decoration: none;
        color: inherit
      }

      #play {
        background-color: black;
        color: white;
      }
    }
  }

  .game-page {
    overflow: hidden;
    .page-content {
      padding-top: 50px;
    }
    .game-window {
      max-height: 500px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-width: 500px;

      .guess-row {
        width: 85%;
        margin: 0 auto;
        min-height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;

        .error {
          background-color: blue;
          border-radius: 5px;
          position: absolute;
          font-size: 15px;
          margin-top: 10px;
          padding: 10px 7px;
        }

        .box {
          height: 55px;
          width: auto;
          min-width: 55px;
          border: solid 2px black;
          text-align: center;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .value-present {
          border: solid 2px orange;
        }
      }

    }

    .keyboard-container {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 10px;

      .row {
        width: 95%;
        height: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 5px;

        button {
          height: 100%;
          min-width: 32px;
          border-radius: 5px;
          border: none;
        }

        #backspace {
          font-size: 1.3em;
          min-width: 50px;
        }

        #letter-Enter {
          min-width: 50px;
        }
      }
    }
  }
}
